.card-3d {
    perspective: 1000px;
    
    .inner-card {
      transition: transform 0.8s;
      transform-style: preserve-3d;
      
      &:hover {
        transform: rotateY(180deg);
      }
    }
  }